JobKer.json
{
  "name": "JobKer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a53e6b7e-f5d1-45bd-91c1-ea474da78d81",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://arbeitnow.com/api/job-board-api",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "5976db1c-a5b4-4b10-9509-b645337ff021",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "c7bc2693-bd7e-4936-ac38-5996dfbbac82",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const keywords = [\"python\", \"backend\", \"developer\"];\nconst topCompanies = [\"jp morgan\", \"blackrock\", \"google\", \"amazon\", \"microsoft\"];\n\nfunction match(text, list) {\n  return list.some(k => text.includes(k));\n}\n\nreturn items\n  .filter(item => {\n    const title = (item.json.title || \"\").toLowerCase();\n    const desc = (item.json.description || \"\").toLowerCase();\n    const company = (item.json.company_name || \"\").toLowerCase();\n\n    const text = title + \" \" + desc;\n\n    return match(text, keywords) || match(company, topCompanies);\n  })\n  .map(item => {\n    const company = (item.json.company_name || \"\").toLowerCase();\n    const isTop = match(company, topCompanies);\n\n    return {\n      json: {\n        title: item.json.title,\n        company: item.json.company_name || \"Unknown\",\n        url: item.json.url,\n        priority: isTop ? \" TOP COMPANY\" : \"\"\n      }\n    };\n  })\n  .slice(0, 5);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "9e7b9797-69f0-4ff9-b85e-c2f79af992a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b030532-5dad-4a34-bb30-e5a2f4b8d4b3",
              "name": "message",
              "value": "={{ $json.priority }}\n\n New Job Alert!\n\n🏢 {{ $json.company }}\n💼 {{ $json.title }}\n🔗 {{ $json.url }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "66ae95c9-c88a-4b0e-94f0-043720fe56e5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "1407637142",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "id": "8037c773-f318-4b3e-b372-4c3e3380960c",
      "name": "Send a text message",
      "webhookId": "548eb0a0-1670-461a-a1be-2fcbea8ec91f",
      "credentials": {
        "telegramApi": {
          "id": "ic6jSy7z8CKKvLWu",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "179323ab-d763-40f3-b8f9-4be6962dbb9f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6636c0bb46a006f9bda1354d7aedbed7a8dfde9971c647938a192d9df9d8989a"
  },
  "id": "-crIvmLxeQ1X46HPKJGg2",
  "tags": []
}